body {
	background-color: rgb(0, 0, 0);
	font: 3vw "Monospace", sans-serif;
}

.container {
	margin: 2rem auto;
	margin-left: 2vw;
	margin-right: 1vw;
}

.header {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	font: 12vw "Monospace", sans-serif;
	color: #24ea26;
}

#d {
	float: right;
	margin-right: 6vw;
	margin-left: 1vw;
	margin-bottom: 2vw;
	background-color: #24ea26;
}

main  {
	color: #24ea26;
}

main h2 {
	font-size: 5vw;
}

#about {
	margin-bottom: 2rem;
}

a {
	text-decoration: none;
	color: #24ea26;

}

a:visited {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

main ul li {
	font-size: 3vw;
}

main ul li:hover {
	background-color: #008000;
}

main ul li:hover a {
	color: #000000;
}

main ul li:before {
	content: ">";
	padding-right: 5px;	
	color: #24ea26;
}

.back ul li {
	text-align: right;
}

.back ul li:before {
	content: "<";
	padding-right: 5px;	
	color: #24ea26;
}
