@font-face {
  font-family: Facade;
  src: url(fonts/facade/Facade-Sud.woff);
}

@font-face {
  font-family: sligoil;
  src: url(fonts/sligoil/Sligoil-Micro.woff);
}

@font-face {
  font-family: jetbrains-mono;
  src: url(fonts/jetbrains-mono/JetBrainsMono-Regular.ttf);
}


body {
	background-color: rgb(0, 0, 0);
	font-family: jetbrains-mono;
	font-size: 3vw;
}

.container {
	margin: 2rem auto;
	margin-left: 2vw;
	margin-right: 1vw;
}

.header {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	font-family: facade;
	font-size: 12vw;
	color: #24ea26;
}

#d {
	float: right;
	margin-right: 6vw;
	margin-left: 1vw;
	margin-bottom: 2vw;
	background-color: #24ea26;
}

main  {
	color: #24ea26;
}

main h2 {
	font-family: sligoil;
	font-size: 5vw;
}

main h3 {
	font-family: sligoil;
	font-size: 4vw;
	margin: 2rem auto;
	margin-left: 2vw;
	margin-right: 1vw;
}

#about {
	margin-bottom: 2rem;
}

a {
	font-family: sligoil;
	text-decoration: underline;
	color: #24ea26;

}

a:visited {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

main ul li {
	font-size: 3vw;
}

main ul li:hover {
	background-color: #008000;
}

main ul li:hover a {
	color: #000000;
}

main ul li:before {
	content: ">";
	padding-right: 5px;	
	color: #24ea26;
}

.back ul li {
	text-align: right;
	clear: both;
}

.back ul li:before {
	content: "<";
	padding-right: 5px;	
	color: #24ea26;
}

#saznajvise p {
	font-size: 2vw;
}

.box {
	float: left;
	width: 25vw;
	text-align: center;
	padding: 1vw;
}
