body {
	background-color: rgb(0, 0, 0);
}

.container {
	margin: 2rem auto;
	margin-left: 2%;
	
}

.header {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	font: 12vw "Monospace", sans-serif;
	color: #24ea26;
}

#d {
	font: 18vw "Monospace", sans-serif;
}

main  {

	color: #24ea26;
}

a {
	text-decoration: none;
	color: #24ea26;

}
a:visited {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

main ul li {
	font-size: 2rem;
}

main ul li:hover {
	background-color: #008000;
}

main ul li:hover a {
	color: #000000;
}

main ul li:before{
	content: ">";
	padding-right: 5px;	
	color: #24ea26;
}
